@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body{
  font-family: 'PT Sans', sans-serif;
  background-color: white;
  margin: 0;
  color: #ffffff;
  line-height: 1.6;
  box-sizing: border-box;
  width: 100%;
  font-size: 100%;
}

h3{
  font-size: 1.5rem;
}

/*Showcase Styling*/
#showcase{
  margin: 0;
  padding: 0;
  background: url('images/AcaWriting.jpeg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

#showcase .container{
  margin-top: 15vh;
}

#showcase h1{
  /*font-size: 6rem;*/
  margin-bottom: 0;
}

#showcase h2{
  /*font-size: 4rem;*/
}

/*Description*/
#description{
  font-size: 1.25rem;
  padding: 4rem 1 7rem 1;
  color: #1a1a1a;
  text-align: left;
}


/*Navigation*/
nav {
  width: 100%;
  background-color: #333;
  color: #eee;
  position: fixed;
  top: 0;
  z-index: 1;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline-block;
  float: left;
  width: 20%;
}
nav a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  color: #eee;
  text-decoration: none;
}
nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}
/*Footer*/
#footer{
  padding: 5rem 0;
  color: #1a1a1a;
}
/*Utility Classes*/
.container{
  /*text-align: center;*/
  margin: 0 auto;
  padding: 3rem 0;
  /*background: blue;*/
}

/*Section*/

.section-head {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

.bg-colour1{
  background: #008080;
}

.bg-colour2{
  background:  #336699;
}

.bg-colour3{
  background:  #339966;
}

.bg-colour4{
  background:  #0099cc;
}
/*
.lead{
  font-size: 1.3rem;
}*/
 @media screen and (min-width: 800px){
  #showcase {
     width: 100%;
     height: 50vh;
   }

  #showcase .container{
     margin-top: 35vh;
   }

   #showcase h1 {
     /*font-size: 6rem;*/
   }

   #showcase h2 {
     /*font-size: 2rem;*/
   }

   .container {
      margin: 0 3rem;
   }
 }
