<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="styles/nav.css" rel="stylesheet">

		<title>Academic Writing Navigation</title>
	</head>
	<body>
		<header onclick="openNav()" class="header">
			<h1>Academic Writing <span class="arrow down"></span></h1>
		</header>

		<!-- Nav inspiration: https://css-tricks.com/sticky-smooth-active-nav/ -->
		<nav id="nav-overlay" class="overlay sidebar">
			<div onclick="closeNav()" class="header">
				<h2>Academic Writing <span class="arrow up"></span></h2>
			</div>

		  <ul>
		    <li><a onclick="closeNav()" class="nav-level1" href="#formal-writing">Formal Writing</a>
					<ul>
						<li><a onclick="closeNav()" class="nav-level2" href="#formal">Making your writing sound formal</a>
							<ul>
								<li><a onclick="closeNav()" href="#ppronouns">Where to avoid using personal pronouns</a></li>
								<li><a onclick="closeNav()" href="#judgements" title="Making judgements: evaluations and opinions">Making judgements: evaluations and opinions</a></li>
							</ul>
						</li>
						<li><a onclick="closeNav()" class="nav-level2" href="#avoid">What to avoid in formal writing</a>
							<ul>
								<li><a onclick="closeNav()" href="#cliches">Cliches</a></li>
								<li><a onclick="closeNav()" href="#fspeech">Figures of speech</a>
									<ul>
										<li><a onclick="closeNav()" href="#simile"  class="nav-level4">Similes</a></li>
										<li><a onclick="closeNav()" href="#metaphor" class="nav-level4">Metaphors</a></li>
									</ul>
								</li>
								<li><a onclick="closeNav()" href="#informal">Informal language</a></li>
								<li><a onclick="closeNav()" href="#padding">Padding</a></li>
								<li><a onclick="closeNav()" href="#complex">Complex writing</a></li>
								<li><a onclick="closeNav()" href="#texting">Texting language</a></li>
							</ul>
						</li>
					</ul>
		    </li>

		    <li><a onclick="closeNav()" class="nav-level1" href="#qps">Quoting, Paraphrasing and Summarising</a>
					<ul>
						<li><a onclick="closeNav()" class="nav-level2" href="#quoting">Quoting</a></li>
						<li><a onclick="closeNav()" class="nav-level2" href="#paraphrasing">Paraphrasing</a></li>
						<li><a onclick="closeNav()" class="nav-level2" href="#summarising">Summarising</a></li>
					</ul>
		    </li>
		  </ul>
		</nav>

		<main class="content">
			<section id="formal-writing">
				<h2>Formal Writing</h2>
				<p>In this section, <em><strong>NEEDS INTRO, HELP!</strong></em></p>
			</section>
			<section id="formal">
				<h3>Making your writing sound formal</h3>
				<p>It is usually the case that in formal writing you avoid the use of personal pronouns.  These include <em>I, me, we, us and you</em>. However there are instances in certain disciplines where your lecturer will invite you to use the first person. In reflective journal writing for example, using the first person is appropriate.</p>
			</section>
			<section id="ppronouns">
				<h4>Where to avoid using personal pronouns</h4>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
			</section>
			<section id="judgements">
				<h4>Evaluations and opinions</h4>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
			</section>
			<section id="avoid">
				<h3>What to avoid in formal writing</h3>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
			</section>
			<section id="cliches">
				<h4>Cliches</h4>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
			</section>
			<section id="fspeech">
				<h4>Figures of speech</h4>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
			</section>
			<section id="simile">
				<h4>Figures of speech</h4>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
			</section>
			<section id="metaphor">
				<h4>Figures of speech</h4>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
			</section>
			<section id="informal">
				<h4>Informal language</h4>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
			</section>
			<section id="padding">
				<h4>Padding</h4>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
			</section>
			<section id="complex">
				<h4>Complex writing</h4>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
			</section>
			<section id="texting">
				<h4>Texting language</h4>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
			</section>
		</main>
		<footer class="footer">
		  &copy;2018 Footer
		</footer>
		<script src="scripts/nav.js"></script>
	</body>
</html>