@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  margin: 0;
  line-height: 1.6;
  box-sizing: border-box;
  width: 100%;
  font-size: 100%;
}

h3{
  font-size: 1.5rem;
}


/*Showcase Styling*/
#showcase{
  margin: 0;
  padding: 0;
  background: url('../images/image.jpg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

#showcase .container{
  margin-top: 15vh;
}

#showcase h1{
  font-size: 4rem;
  margin: 0;
  text-shadow: 5px 5px #222;
}

h2.intro {
  color: black;
}

/*Description*/
#description{
  font-size: 1.25rem;
  padding: 20px;
  padding-bottom: 30px;
  color: #1a1a1a;
  text-align: left;
}

/*Container size for formal writing*/
.fw-size, .inlang-size, .granpunc-size, .qps-size {
  padding: 1.5rem;
}


/* Navigation */
nav.top-nav {
  display: none;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  color: white;
  text-decoration: none;
}

.top-nav {
  display: none;
}

.top-nav h1.logo {
  margin: 0;
  font-size: 1.45em;
  padding: 0 1em;
}


.logo a, .main-nav a {
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
}

.main-nav a {
  color: white;
  font-size: 1em;
  padding: 1.5em;
  border-bottom: 2px solid transparent;
}

.main-nav a:hover {
  background-color: #222;
  font-weight: bold;
  border-bottom: 2px #ddd solid;
}

.logo:hover {
  font-weight: bold;
}

.top-nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.top-nav, .main-nav {
  display: flex;
}

/*Nav overlay*/
h2.heading {
  background-color: #333;
  color: white;
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1rem;
  margin: 0;
}

.overlay {
  background-color: #333;
  height: 00%;
  width: 100%;
  position: fixed;
  overflow-y: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.2s;
}

.overlay ul {
  list-style: none;
  padding: 0;
}

/* Indent without moving the background-color position */
.overlay ul li a.nav-level1 {
  padding-left: 2rem;
}

.overlay ul li a {
  display: inline-block;
  padding: 0.5rem 2rem;
  color: white;
  text-decoration: none;
}

.overlay ul li a.current {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}


.arrow {
  position: absolute;
  right: 1.25em;
  border: solid white;
  border-width: 0 .13em .13em 0;
  display: inline-block;
  padding: .3em;
  color: white;
  margin: .2em;
}

.down {
  transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  margin-top: 1rem;
}

section:target {
  padding-top: 90px;
  margin-top: -90px;
}



/*Footer*/
#footer{
  padding: 5rem 0;
  color: #1a1a1a;
}
/*Utility Classes*/
.container{
  /*text-align: center;*/
  margin: 0 auto;
  padding: 3rem 0;
  /*background: blue;*/
}

/*Section*/
.section-head {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  color: #ffffff;
  padding-bottom: 2rem;
}

.bg-colour1{
  background: #008080;
}

.bg-colour2{
  background:  #336699;
}

.bg-colour3{
  background:  #339966;
}

.bg-colour4{
  background:  #0099cc;
}
/*
.lead{
  font-size: 1.3rem;
}*/
 @media all and (min-width: 800px){
  nav.top-nav {
    display: flex;
  }


  #showcase {
     width: 100%;
     height: 100vh;
   }

  #showcase .container{
     margin-top: 35vh;
   }

   #showcase h1{
     font-size: 8rem;
     margin: 0;
     text-shadow: 5px 5px #222;

   }


   #showcase h2 {
     /*font-size: 2rem;*/
   }

   .container {
      margin: 3rem;
   }

   .section-head {
     font-size: 2.5rem;
     margin: 0;
     text-align: center;
     color: #ffffff;
     padding-bottom: 2rem;
   }

   /*Container size for formal writing*/
   .fw-size, .inlang-size, .granpunc-size, .qps-size {
     padding: 5rem;
   }
   h2.heading h2.top {
    color: pink;
   }
 }
