html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.tab {
  width:100%;

}

.tab button {
  display: inline-block;
  padding: .7rem 1rem;
  font-weight: 600;
  text-align: center;
  width: 49.4%;
  background-color: whitesmoke;
  border: none;
  margin: 0;
}

.tab button:hover {
  color: #789;
  cursor: pointer;
}

.tab button.active {
  border: 1px solid #333;
  color: black;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
}
